[submodule "xVitals"]
	path = xVitals
	url = https://github.com/SuperDomX/xVitals.git
[submodule "xBanner"]
	path = xBanner
	url = https://github.com/SuperDomX/xBanner
[submodule "xNavigation"]
	path = xNavigation
	url = https://github.com/SuperDomX/xNavigation
[submodule "xBlox"]
	path = xBlox
	url = https://github.com/SuperDomX/xBlox
[submodule "xBlog"]
	path = xBlog
	url = https://github.com/SuperDomX/xBlog.git
[submodule "xContact"]
	path = xContact
	url = https://github.com/SuperDomX/xContact
